<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.precioLuz">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_connect_with_me"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_connect_with_me"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialTravel"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.precioLuz"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.precioLuz.activities.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" /> <!-- Para que al hacer clic en la busqueda y aparezca el teclado, no se descuadre el bottomNavigation -->
        <activity
            android:name="com.precioLuz.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.precioLuz.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.precioLuz.services.MyFirebaseMessagingClient"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <receiver android:name="com.precioLuz.receivers.MessageReceiver"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>